html {
  /* Colors */
  --valo-color-white-0pct:  rgba(255,255,255,0);
  --valo-color-white-5pct:  rgba(255,255,255,0.05);
  --valo-color-white-10pct: rgba(255,255,255,0.1);
  --valo-color-white-20pct: rgba(255,255,255,0.2);
  --valo-color-white-30pct: rgba(255,255,255,0.3);
  --valo-color-white-40pct: rgba(255,255,255,0.4);
  --valo-color-white-50pct: rgba(255,255,255,0.5);
  --valo-color-white-60pct: rgba(255,255,255,0.6);
  --valo-color-white-70pct: rgba(255,255,255,0.7);
  --valo-color-white-80pct: rgba(255,255,255,0.8);
  --valo-color-white-90pct: rgba(255,255,255,0.9);
  --valo-color-white:       #FFF;

  --valo-color-black-0pct:  hsla(214, 30%, 30%, 0);
  --valo-color-black-5pct:  hsla(214, 75%, 29%, 0.05);
  --valo-color-black-5pct:  hsla(214, 75%, 29%, 0.05);
  --valo-color-black-10pct: hsla(214, 70%, 28%, 0.12);
  --valo-color-black-20pct: hsla(214, 65%, 27%, 0.2);
  --valo-color-black-30pct: hsla(214, 60%, 26%, 0.3);
  --valo-color-black-40pct: hsla(214, 55%, 25%, 0.4);
  --valo-color-black-50pct: hsla(214, 50%, 24%, 0.5);
  --valo-color-black-60pct: hsla(214, 45%, 23%, 0.59);
  --valo-color-black-70pct: hsla(214, 40%, 22%, 0.68);
  --valo-color-black-80pct: hsla(214, 35%, 21%, 0.72);
  --valo-color-black-90pct: hsla(214, 30%, 20%, 0.78);
  --valo-color-black:       hsla(214, 30%, 30%, 1);

  --valo-color-primary:          hsl(214, 90%, 52%);
  --valo-color-primary-text:     hsl(214, 90%, 52%);
  --valo-color-primary-contrast: var(--valo-color-white);
  --valo-color-primary-50pct:    hsla(214, 90%, 52%, 0.5);

  --valo-color-error:       hsl(3, 100%, 61%);
  --valo-color-error-50pct: hsla(3, 100%, 61%, 0.5);

  --valo-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --valo-font-size: 16px;
  --valo-line-height: 1.625;

  --valo-grid-size: 8px;

  --valo-spacing-xxs: 4px;
  --valo-spacing-xs: 6px;
  --valo-spacing-s: 8px;
  --valo-spacing-m: 16px;
  --valo-spacing-l: 24px;
  --valo-spacing-xl: 32px;
  --valo-spacing-xxl: 64px;
  --valo-spacing-xxxl: 96px;

  --valo-spacing-wide-xxs: 4px 8px;
  --valo-spacing-wide-xs: 6px 12px;
  --valo-spacing-wide-s: 8px 16px;
  --valo-spacing-wide-m: 16px 24px;
  --valo-spacing-wide-l: 24px 32px;
  --valo-spacing-wide-xl: 32px 48px;
  --valo-spacing-wide-xxl: 64px 96px;

  --valo-spacing-tall-xxs: 8px 4px;
  --valo-spacing-tall-xs: 12px 6px;
  --valo-spacing-tall-s: 16px 8px;
  --valo-spacing-tall-m: 24px 16px;
  --valo-spacing-tall-l: 32px 24px;
  --valo-spacing-tall-xl: 48px 32px;
  --valo-spacing-tall-xxl: 96px 64px;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--valo-font-family);
  line-height: var(--valo-line-height);

  background-color: var(--valo-color-white);
  color: var(--valo-color-black-90pct);

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.dark-ui {
  --valo-color-primary-text: hsl(214, 100%, 65%);
  background-color: var(--valo-color-black);
  color: var(--valo-color-white-80pct);
}

.spacing-xxxl {
  padding: var(--valo-spacing-xxxl);
}

.spacing-wide-xxl {
  padding: var(--valo-spacing-wide-xxl);
}

.background-color-50 {
  background-color: var(--valo-color-black-5pct);
}

.dark-ui .background-color-50 {
  background-color: var(--valo-color-black-70pct);
}

section > :first-child {
  margin-top: 0;
}

section > :last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  color: var(--valo-color-black);
  line-height: 1.25;
  letter-spacing: -0.03125em;
  font-weight: 300;
}

.dark-ui h1,
.dark-ui h2,
.dark-ui h3 {
  color: var(--valo-color-white);
}

h1 {
  font-size: calc(var(--valo-font-size) * 3);
  margin-top: var(--valo-spacing-xxl);
  margin-bottom: var(--valo-spacing-xl);
}

h2 {
  font-size: calc(var(--valo-font-size) * 2);
  margin-top: var(--valo-spacing-xl);
  margin-bottom: var(--valo-spacing-l);
}

h3 {
  font-size: calc(var(--valo-font-size) * 1.375);
  font-weight: 500;
  margin-top: var(--valo-spacing-xl);
  margin-bottom: var(--valo-spacing-m);
}

h4 {
  font-weight: 500;
  font-size: calc(var(--valo-font-size) * 0.75);
  color: var(--valo-color-black-700);
  letter-spacing: 0.075em;
  line-height: 1.25;
  text-transform: uppercase;
  margin-top: var(--valo-spacing-xl);
  margin-bottom: var(--valo-spacing-s);
}

.dark-ui h4 {
  color: var(--valo-color-white-60pct);
}

p {
  margin-top: 0;
  margin-bottom: var(--valo-spacing-xl);
}

h4 + h1,
h4 + h2,
h4 + h3 {
  margin-top: 0;
}

p.ingress {
  font-size: calc(var(--valo-font-size) * 1.375);
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: var(--valo-spacing-l);
}

p.small {
  font-size: calc(var(--valo-font-size) * 0.875);
  line-height: 1.575;
}






/* Text fields */

.text-field {
  border: 0;
  font-family: inherit;
  font-size: var(--valo-font-size);
  line-height: 1.25;
  background-color: var(--valo-color-white);
  color: var(--valo-color-black-90pct);
  box-shadow: 0 0 0 1px var(--valo-color-black-20pct);
  border-radius: 3px;
  height: calc(var(--valo-grid-size) * 4.5);
  margin: calc(var(--valo-grid-size) * 0.75) 0;
  width: 200px;
  display: inline-flex;
  align-items: center;
  padding: calc(var(--valo-grid-size) / 2) var(--valo-grid-size);
  box-sizing: border-box;
  font-weight: 500;
  outline: none;
  transition: box-shadow 280ms;
  -webkit-appearance: none;
}

.text-field::placeholder {
  color: var(--valo-color-black-40pct);
}

.text-field:hover:not(:focus):not(.focused):not(.invalid):not([readonly]):not([disabled]) {
  box-shadow: 0 0 0 1px var(--valo-color-black-40pct);
}

.text-field[readonly],
.text-field[disabled] {
  box-shadow: none;
  background-color: var(--valo-color-black-5pct);
}

.text-field[disabled] {
  color: var(--valo-color-black-40pct);
  opacity: 1;
}

.text-field:focus:not([readonly]),
.text-field.focused {
  box-shadow: 0 0 0 2px var(--valo-color-primary-50pct),
              0 0 0 1px var(--valo-color-black-20pct),
              0 3px 3px 0 var(--valo-color-black-20pct);
}

.text-field.invalid {
  box-shadow: 0 0 0 2px var(--valo-color-error-50pct),
              0 0 0 1px var(--valo-color-black-20pct);
}

.dark-ui .text-field {
  background-color: var(--valo-color-black-70pct);
  color: var(--valo-color-white-90pct);
  box-shadow: 0 0 0 1px var(--valo-color-white-10pct);
}

.dark-ui .text-field::placeholder {
  color: var(--valo-color-white-40pct);
}

.dark-ui .text-field:hover:not(:focus):not(.focused):not(.invalid):not([readonly]):not([disabled]) {
  box-shadow: 0 0 0 1px var(--valo-color-white-30pct);
}

.dark-ui .text-field:focus:not([readonly]),
.dark-ui .text-field.focused {
  box-shadow: 0 0 0 2px var(--valo-color-primary-50pct),
              0 0 0 1px var(--valo-color-white-20pct),
              0 3px 6px 0 var(--valo-color-black-80pct);
}

.dark-ui .text-field[readonly],
.dark-ui .text-field[disabled] {
  box-shadow: none;
  background-color: var(--valo-color-white-5pct);
}

.dark-ui .text-field[disabled] {
  color: var(--valo-color-white-40pct);
}

.dark-ui .text-field.invalid {
  box-shadow: 0 0 0 2px var(--valo-color-error-50pct),
              0 0 0 1px var(--valo-color-white-20pct);
}

.xsmall {
  --valo-grid-size: 5.8px;
  --valo-font-size: 13px;
}

.small {
  --valo-grid-size: 6.7px;
  --valo-font-size: 14px;
}

.large {
  --valo-grid-size: 10px;
  --valo-font-size: 18px;
}






/* Buttons */

.button {
  border: 0;
  padding: var(--valo-grid-size) calc(var(--valo-grid-size) * 2);
  font-family: var(--valo-font-family);
  font-size: var(--valo-font-size);
  font-weight: 500;
  line-height: 1.25;
  color: var(--valo-color-primary-text);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 var(--valo-color-black-10pct),
              0 1px 2px 1px var(--valo-color-black-10pct);
  transition: box-shadow 180ms;
  margin: 0;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.button:not(.tertiary) {
  background-color: var(--valo-color-white);
}

.button:hover:not(:active):not(.active):not(.tertiary),
.button.hovered:not(:active):not(.active):not(.tertiary) {
  box-shadow: 0 1px 1px 0 var(--valo-color-black-10pct),
              0 1px 2px 1px var(--valo-color-black-10pct),
              0 3px 3px 0 var(--valo-color-black-10pct),
              0 3px 9px 0 var(--valo-color-black-5pct);
}

.button:active:not(.tertiary),
.button.active:not(.tertiary) {
  background-image: linear-gradient(var(--valo-color-black-5pct), var(--valo-color-black-5pct));
  transition-duration: 50ms;
}

.button.focus-ring:not(:active) {
  box-shadow: 0 0 0 2px var(--valo-color-primary-50pct),
              0 1px 1px 0 var(--valo-color-black-10pct),
              0 1px 2px 1px var(--valo-color-black-10pct);
}

.button.tertiary {
  box-shadow: none;
  transition: color 80ms;
}

.button.tertiary:hover:not(:active):not(.active),
.button.tertiary.hovered:not(:active):not(.active) {
  color: var(--valo-color-black);
}

.button.tertiary:active,
.button.tertiary.active {
  color: inherit;
}

.button.primary {
  background-color: var(--valo-color-primary);
  color: var(--valo-color-primary-contrast);
  --valo-color-black-10pct: var(--valo-color-black-20pct);
}

.button.primary:active,
.button.primary.active {
  background-image: linear-gradient(var(--valo-color-white-10pct), var(--valo-color-white-10pct));
}

.button[disabled] {
  pointer-events: none;
  box-shadow: none;
  color: var(--valo-color-black-40pct);
}

.button[disabled]:not(.tertiary) {
  background-color: var(--valo-color-black-10pct);
}

.button.primary[disabled] {
  background-color: var(--valo-color-black-30pct);
  color: var(--valo-color-white-70pct);
}


.dark-ui .button:not(.tertiary):not(.primary) {
  background-color: var(--valo-color-white-5pct);
  color: var(--valo-color-white-90pct);
}

.dark-ui .button:not(.tertiary) {
  --valo-color-black-10pct: var(--valo-color-black-50pct);
}

.dark-ui .button:not(.tertiary):not(.primary):active,
.dark-ui .button:not(.tertiary):not(.primary).active {
  background-image: linear-gradient(var(--valo-color-white-5pct), var(--valo-color-white-5pct));
}

.dark-ui .button.tertiary:hover:not(:active):not(.active),
.dark-ui .button.tertiary.hovered:not(:active):not(.active) {
  color: var(--valo-color-white);
}

.dark-ui .button[disabled]:not(.primary) {
  color: var(--valo-color-white-30pct);
}

.dark-ui .button[disabled]:not(.tertiary) {
  background-color: var(--valo-color-white-10pct);
}

.dark-ui .button.primary[disabled] {
  background-color: var(--valo-color-white-30pct);
  color: var(--valo-color-white-40pct);
}







/* Overlays */

.overlay {
  border-radius: 3px;
  background-color: var(--valo-color-white);
  box-shadow: 0 0 0 1px var(--valo-color-black-5pct),
              0 6px 14px -4px var(--valo-color-black-40pct);
}

.overlay.raised {
  box-shadow: 0 0 0 1px var(--valo-color-black-5pct),
              0 22px 44px -4px var(--valo-color-black-40pct);
}

.dark-ui .overlay {
  background-color: var(--valo-color-black);
  background-image: linear-gradient(var(--valo-color-white-5pct), var(--valo-color-white-5pct));
  box-shadow: 0 0 0 1px var(--valo-color-white-20pct),
              0 6px 14px -4px var(--valo-color-black-90pct);
}

.dark-ui .overlay.raised {
  box-shadow: 0 0 0 1px var(--valo-color-white-20pct),
              0 22px 44px -4px var(--valo-color-black-90pct);
}






/* Menu */

.menu {
  width: 230px;
  display: inline-block;
  padding: var(--valo-spacing-s) 0;
  margin: 0 var(--valo-spacing-l) var(--valo-spacing-l) 0;
}

.menu-item {
  /*min-height: 42px;*/
  display: flex;
  align-items: center;
  padding: var(--valo-spacing-wide-s);
  position: relative;
}

.menu-item.focused::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--valo-color-black-5pct);
}

.menu-item.selected {
  font-weight: 500;
  color: var(--valo-color-primary-text);
}

.menu-item.disabled {
  color: var(--valo-color-black-40pct);
}

.menu-divider {
  height: 1px;
  margin: var(--valo-spacing-s) 0;
  background-color: var(--valo-color-black-10pct);
}

.dark-ui .menu-item.focused::after {
  background-color: var(--valo-color-white-5pct);
}

.dark-ui .menu-item.disabled {
  color: var(--valo-color-white-30pct);
}

.dark-ui .menu-divider {
  background-color: var(--valo-color-white-10pct);
}







/* Date pickers */

.date-picker {
  width: calc(var(--valo-grid-size) * 49);
  height: calc(var(--valo-grid-size) * 54);
  display: flex;
  position: relative;
  overflow: hidden;
}

.date-picker .months {
  width: calc(var(--valo-grid-size) * 41);
  /* TODO should probably use two flex containers instead */
  height: calc(100% - var(--valo-grid-size) * 6.5);
  overflow: auto;

  /* TODO browser support for gradient masks is spotty (WebKit/Blink/Firefox53).
     Could look into using SVG masks for older Firefox, but doesn’t seem worth the trouble. */
  -webkit-mask-image: linear-gradient(#000 85%, transparent);
  mask-image: linear-gradient(#000 85%, transparent);
}

.date-picker .years {
  width: calc(var(--valo-grid-size) * 8);
  height: 100%;
  background: var(--valo-color-black-70pct);
  color: var(--valo-color-white-70pct);
}

.date-picker .years .mask {
  overflow: auto;
  height: 100%;
  -webkit-mask-image: linear-gradient(transparent, #000 35%, #000 65%, transparent);
  mask-image: linear-gradient(transparent, #000 35%, #000 65%, transparent);
}

.date-picker .years .mask div {
  height: calc(var(--valo-grid-size) * 5);
  font-size: calc(var(--valo-font-size) * 0.875);
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker .years .selected {
  font-weight: 500;
  color: var(--valo-color-white);
}

.date-picker .toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: calc(var(--valo-grid-size) * 8);
  padding: var(--valo-spacing-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-picker .month {
  padding: var(--valo-spacing-tall-s);
  box-sizing: border-box;
}

.date-picker .month-grid {
  display: flex;
  flex-wrap: wrap;
}

.date-picker .month-grid span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(92% / 7);
  height: calc(var(--valo-grid-size) * 5);
}

.date-picker .month-grid .week {
  width: 8%;
  font-size: calc(var(--valo-font-size) * 0.75);
  color: var(--valo-color-black-50pct);
}

.date-picker .month-grid .weekday {
  height: calc(var(--valo-grid-size) * 3);
  font-size: calc(var(--valo-font-size) * 0.75);
  color: var(--valo-color-black-50pct);
}

.date-picker .month-name {
  text-align: center;
  font-weight: 500;
  color: var(--valo-color-black);
  margin-bottom: var(--valo-spacing-s);
}

.dark-ui .date-picker .month-name {
  color: var(--valo-color-white);
}

.dark-ui .date-picker .week,
.dark-ui .date-picker .weekday {
  color: var(--valo-color-white-50pct);
}

.dark-ui .date-picker .years {
  color: var(--valo-color-white-60pct);
}

/* TODO only for demo, this relies on the layout of the demo page being split 50/50 for light/dark */
@media screen and (max-width: 1000px) {
  .date-picker {
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: auto;
  }

  .date-picker .months,
  .date-picker .years {
    width: 100%;
  }

  .date-picker .years {
    order: 3;
    height: calc(var(--valo-grid-size) * 6);
  }

  .date-picker .years .mask {
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 25%, #000 75%, transparent);
    mask-image: linear-gradient(90deg, transparent, #000 25%, #000 75%, transparent);
  }

  .date-picker .years .mask div {
    display: inline-flex;
    height: 100%;
    width: 4em;
  }

  .date-picker .months {
    order: 2;
    display: flex;
    height: auto;
    -webkit-mask-image: none;
    mask-image: none;
  }

  .date-picker .month {
    min-width: 100%;
    padding-top: 0;
  }

  .date-picker .toolbar {
    position: static;
    order: 1;
  }
}
